<footer>
  <p class="footerText">Made with <i class="far fa-heart" style="color:red" aria-hidden="true"></i>  in <span><i> <img src="/assets/earth.ico" style="width: 25px"/></img></i> </p>

    <div class="footerIcons">
		{% if site.data.creator.facebook_username %}
			<a href="https://facebook.com/{{ site.data.creator.facebook_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-facebook fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.data.creator.twitter_username %}
			<a href="https://twitter.com/{{ site.data.creator.twitter_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-twitter fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.data.creator.github_username %}
			<a href="https://github.com/{{ site.data.creator.github_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-github fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.data.creator.email_address %}
			<a href="mailto:{{ site.data.creator.email_address }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fas fa-envelope fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

	</div>
</footer>
